$item_width: 300px;
$sidebar_width: 300px;
$color_primary: #3d3d3d;
$color_secondary: rgb(5, 5, 5);
$color_link: #81c483;
$anim-time: 0.5s;


@import "base";
@import "mediaqueries";
@import "glow";









